* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 1.3rem;
    font-weight: 200;
}
/*---------------------------------padding---------------------------------*/
.btn-padding {
    padding: 2% 4% !important;
}

.pt-0 {
    padding-top: 0px;

}

/*.pt-7 {
    padding-top: 7%;
}*/

.pt-10 {
    padding-top: 10%;
}

/*---------------------------------Margin---------------------------------*/
.mt-2 {
    margin-top: 2% !important;
}
.mt-4 {
    margin-top: 4% !important;
}

.mt-6 {
    margin-top: 6% !important;
}
.mt-7 {
    margin-top: 7% !important;
}

.mt-9 {
    margin-top: 9% !important;
}

.mb-2 {
    margin-bottom: 2%;
}

.mb-4 {
    margin-bottom: 4%;
}

.mb-9 {
    margin-bottom: 8%;

}

.ml5 {
    margin-left: 5% !important;
}

.ml {
    margin-right: 2%;
    margin-bottom: 2%
}

.m-lr-4 {
    margin-left: 9% !important;
    margin-right: 9% !important;
}

.margin-auto {
    margin: auto;
}

/*---------------------------------border---------------------------------*/
.border-0 {
    border: 0;
}

/*.btn-border {
    border-radius: 25%;
}*/

/*.btn-border45 {
    border-radius: 45%;
}*/

.btn-border-nav {
    border-radius: 30px !important;
}

.border-red-25 {
    border-radius: 25px; /* Adjust the border-radius for rounded corners */
    padding: 10px 40px; /* Adjust the padding for button size */

}

.btn-rounded {
    border-radius: 25px; /* Adjust the border-radius for rounded corners */
    padding: 10px 40px; /* Adjust the padding for button size */
    border: none; /* Remove button border */
}

.border-50 {
    border-radius: 50% !important;
}

/*---------------------------------font-size---------------------------------*/
.fs-1 {
    font-size: 1.5rem;
}

.fs-15 {
    font-size: 0.9rem !important;
}

.fs-m {
    font-size: medium;
}

.fs-smaller {
    font-size: smaller;
}

/*.fw-200 {
    font-weight: 200 !important;
}*/

.fw-600 {
    font-weight: 600 !important;
}

/*.fw-800 {
    font-weight: 800 !important;
}*/

.fw-900 {
    font-weight: 900 !important;
}

/*---------------------------------Color---------------------------------*/
.light-blue {
    background-color: rgb(243, 247, 253) !important;
}

.bg-section {
    background-color: rgb(248, 249, 250);
}

/*.bg-blue {
    background-color: rgb(19, 106, 213);
}*/

.blue2 {
    color: rgb(19, 106, 213);
}

.bg-blue2 {
    background-color: rgb(19, 106, 213);
}

.bg-white {
    background-color: #fff;
}

.color-white {
    color: #fff !important;
}

.color-blue {
    color: rgb(96, 154, 277) !important;
}

.bg-color-blue {
    background-color: rgb(96, 154, 277) !important;
}

.yellow {
    color: rgb(255, 193, 7);
}

.gray {
    color: rgb(153, 153, 153);
}

.black {
    color: black;
}

.txt-decoration {
    text-decoration: none !important;
}

/*---------------------------------Carousel---------------------------------*/
/*

.carousel-container {
    position: relative;
    overflow: hidden;
    max-width: 100%;
}

.carousel {
    display: flex;
    transition: transform 0.3s ease-in-out;
}

.carousel-item {
    flex: 0 0 100%;
    padding: 2%;
}

.carousel-button {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 8px 16px;
    border: none;
    outline: none;
    z-index: 1;
}

.carousel-button.prev {
    left: 0;
}

.carousel-button.next {
    right: 0;
}

.carousel-indicators {
    text-align: center;
    margin-top: 16px;
}

.carousel-indicator {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    margin: 0 4px;
    cursor: pointer;
}

.carousel-indicator.active {
    background-color: white;
}
*/

/*-----------------------------------------Specific Class-----------------------------------------------*/
.hero {
    background-image: url("../img/lab1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    max-width: 100vw;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    color: #fff; /* Text color on top of the hero image */
    display: flex;
    /* Create a semi-transparent overlay */
    position: relative;
}

.bg-img {
    background-image: url("../img/enrollnow.jpg");
}

.transform {
    transform: translate(0, -40px);
}

.box-shadow {
    box-shadow: 200px -90px rgb(208, 225, 247);
}

.carousel-indicators .active {
    background-color: #211f1f;
}
.width100{
    width: 100%;
}
.video-size {
    width: 525px;
    margin: 25%;
}

.resize-img {
    width: 200px;
    height: 200px;
}

.img-fixed-size {
    max-height: 200px; /* Adjust the height as needed */
    width: auto; /* Maintain the aspect ratio */
}

.img-height {
    height: -webkit-fill-available;
}

/*.h-600 {
    height: 600px;
}*/

.h-fit {
    height: fit-content;
}

/* Overlay style */
.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 255, 0.4); /* Adjust the opacity (0.5 for 50% opacity) */
}

.texthero {
    color: #fff;
    font-family: cursive;
    height: max-content;
    width: max-content;
    text-align: center;
    padding: 15%;
    position: sticky;
    top: 0;
    z-index: 100;
}

.btn-link {
    text-decoration: none !important;
}

/*-----------------------------------------✓ z-index-----------------------------------------------*/

.text-hero {
    z-index: 1;
}

.z-0 {
    z-index: 0;
}

.z-1 {
    z-index: 10 !important;
}

/*-----------------------------------------Specific border-----------------------------------------------*/
i {
    border-radius: 50%;
    color: cornflowerblue;
}

.icons:before {
    border: 4px solid white;
    border-radius: 30%;
    background-color: white;

}

.fa-solid:before {
    border: none
}

.border-none {
    border: none;
!important;
}

/*-----------------------------------------Specific Class-----------------------------------------------*/
.fa-atom:before {
    content: "\f5d2";
}

/*-----------------------------------------Drow Cycle around the icon-----------------------------------------------*/
.circle-icon {
    width: 70px; /* Adjust the width and height as needed */
    height: 70px;
    border-radius: 50%; /* Makes it a circle */
    border: 2px solid rgba(0, 0, 0, .125); /* Border color and thickness */
    display: flex;
    justify-content: center;
    align-items: center;
}

/*-----------------------------------------✓ list style-----------------------------------------------*/
/* Apply some basic styles to the list */
ul.newlist {
    list-style: none;
    padding: 0;
}

ul.newlist li {
    margin: 5px 0;
    position: relative;
    padding-left: 25px; /* Adjust the padding as needed */
}

/* Use the ::before pseudo-element to insert the checkmark symbol */
ul.newlist li::before {
    content: "\2713"; /* Unicode character for checkmark (✓) */
    display: inline-block;
    width: 20px; /* Adjust the width as needed */
    text-align: center;
    position: absolute;
    left: 0;
    top: 0;
    color: cornflowerblue;
    margin-right: 5%;
}

/*-----------------------------------------✓ Lines ----------------------------------------------*/
.short-line {
    width: 80%;
    height: 2px;
    background-color: rgb(220, 220, 220)
}

.long-line {
    width: 100%;
    height: 2px;
    background-color: white;
}

/*-----------------------------------------✓ carousel-----------------------------------------------*/
.carousel-indicators button {
    width: 10px !important;
    height: 10px !important;
    border-radius: 100% !important;
}

.carousel .carousel-indicators button {
    background-color: gray;
}

.carousel .carousel-indicators button.active {
    background-color: blue;
}

/*-----------------------------------------✓Navpar-----------------------------------------------*/
/*
.header {
    background-color: #f1f1f1;
    padding: 30px;
    text-align: center;
}
*/

#navbar {
    overflow: hidden;
}

#navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

#navbar a:hover {
    background-color: #ddd;
    color: black;
}

#navbar a.active {
    color: white;
}

.content {
    padding: 16px;
}

.sticky {
    position: fixed !important;
    top: 0;
    opacity: 1;
    width: 100%;
}

.sticky + .content {
    padding-top: 30px;
}
/*
.op-05 {
    opacity: 0.5;
}
*/

.nav-absolute {
    position: absolute !important;
    width: 100%;
}

.bg-trans {
/ / background: rgba(0, 0, 255, 0.6);
    background: transparent;;
}

/*-----------------------------------------✓ Media query-----------------------------------------------*/
@media (max-width: 1243px) {
    .video-size {
        width: 435px;
        margin: auto;
    }
    .flex-prop{
        display: flex;
        justify-content: center;
    }
}


@media (max-width: 837px) {
    .video-size {
        width: 366px;
        margin: auto;
    }
    .box-shadow {
        box-shadow: 100px -60px rgb(208, 225, 247);
    }
    .text-align{
        text-align: center !important;
    }
    .mt--sm-6{
        margin-top: 6% !important;
    }
    .text-align-sm{
        text-align: center;
    }
    .transform {
        transform: translate(0, -0);
    }
    .text-centerr{
        text-align: center !important;
    }
}
@media (max-width: 581px) {
    .video-size {
        width: 280px;
        margin: auto;
    }
    .box-shadow {
        box-shadow: 100px -60px rgb(208, 225, 247);
    }

}

@media (max-width: 581px){
.video-size {
    width: 200px;
    margin: auto;
}
    .box-shadow {
        box-shadow: 60px -60px rgb(208, 225, 247);
    }
}